body {
	background: #000;
	color: #ccc;
}
#status .section,
#body,
#header,
#header .body,
#header .headline {
	background: #000;
	color: #ccc;
}

.post, .ld-post {
	background-color: #333;
	background-image: linear-gradient(to bottom,#000 0%,#333 25%);
	color: #eee;
}
	.ld-post .footer {
		background: #222;
		color: #ddd;
	}
	.ld-post a {
		color: #fd4;
	}
	.ld-post h2 a {
		color: #f94;
	}
	.ld-post .header div:first-child img {
		border-radius: 3em;
	}
#footer {
	background: #000;
	color: #ddd;
}
.navigation a {
	display: inline-block;
	padding: 1em 2em;
	background: #444;
	color: #fff;
	font-size: medium;
}

@media (max-width: 960px) {
	#sidebar {
		display: none;
	}
	#page {
		width: auto;
		max-width: 960px;
	}
	#content.narrowcolumn {
		width: auto;
		padding: 0 1em 1em 1em;
	}
	.post,
	.ld-post,
	.narrowcolumn .post,
	.narrowcolumn .event
	{
		left: initial;
		width: auto;
	}
}
